<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>
<h1> Add a new student</h1>
  <form action="/student-confirmation" method="POST">
      <label>First name:
          <input type="text" name="first_name">
          <p>
          Last name:
          <input type="text" name="last_name">
          </p>
          <p>
          GitHub acc:
          <input type="text" name="github">
      </p>
      </label>
      <p><input type="submit" value="Add Student"></p>
  </form>

</body>
</html>